<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>694134308304-1lm2sijnuqdaqg0fei6060pmkml56ks6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.694134308304-1lm2sijnuqdaqg0fei6060pmkml56ks6</string>
	<key>API_KEY</key>
	<string>AIzaSyB3NKgrWSxAX5ISYGqtTp-igWSaeKVoEiY</string>
	<key>GCM_SENDER_ID</key>
	<string>694134308304</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jonmckay.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-578ba</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-578ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:694134308304:ios:fe81f0dd74e08011</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-578ba.firebaseio.com</string>
</dict>
</plist>